{%load static %}
 <script src="{% static 'js/jquery.js'%}"></script>    
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/bootstrap.bundle.js'%}"></script>
<script src="{% static 'js/message.js'%}"></script>

<script type="text/javascript" src="{% static 'basic/js/frontend.js' %}"></script>
<script type="text/javascript" src="{% static 'basic/js/modals.js' %}"></script>
<script type="text/javascript" src="{% static 'basic/js/animation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script> 

 <link href="{% static 'css/screen.css'%}" rel="stylesheet"> 
 <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
</head>
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js">
    
  </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script> 


<script type="text/javascript" src="{% static 'basic/js/jquery.flexslider.js' %}"></script>

<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'css/index.css'%}" rel="stylesheet">
<link href="{% static 'css/blogs.css'%}" rel="stylesheet">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{%static 'css/flexslider.css'%}">
  <link href="{% static 'css/carousel.css'%}" rel="stylesheet">
   <link href="{% static 'css/home.css'%}" rel="stylesheet">
  <link href="{% static 'css/dropdown.css'%}" rel="stylesheet"> 
  <link href="{% static 'css/album.css'%}" rel="stylesheet"> 
  <link href="{% static 'css/bannerpic.css'%}" rel="stylesheet"> 
 <link href="{% static 'css/resources.css'%}" rel="stylesheet"> 
  <link href="{% static 'css/project.css'%}" rel="stylesheet"> 
    <link href="{% static 'css/footer.css'%}" rel="stylesheet">
  <link href="{% static 'css/about.css'%}" rel="stylesheet">    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"> </script>

