{%extends 'index.html'%}
  {% block body %}
   {%load static%}
   <style type="text/css">
     .loading{
      color: #241caf;
     }

     #navcontainer
{
                       
   background: url({%static 'img/report.webp'%}) no-repeat center center/cover;
   
}
   </style>

<div style="background-position: center top;" id="navcontainer">
              <div class="backgr-text"> 
              
                    <h2 class="head-part">REPORT</h2> 
                </div> 
         

    </div>
    <br/>
<br/>

 <div id="main-container">
 {%if report%}
<div class="col-md-12 col-sm-12 col-xs-12">
 
<h1 class="headmy ">Report</h1>
  <hr/>
 <div class="col-sm-6 col-md-4">
     <form method='GET' class="form-inline" action='{% url "movetoresource:searchbar" %}'>
      <i id="search-icon"class="fa fa-search" ></i>
  
    <input id="user-input" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
    </form>
  </div>

<div  id="replaceable-content" class="col-md-8 col-sm-4">
            {% include 'Resources/searchview.html' %}


        
</div>
</div>
{%endif%}



{%include "footer.html" %}
</div>

<script type="text/javascript">
const user_input = $("#user-input")
const search_icon = $('#search-icon')
const artists_div = $('#replaceable-content')
const endpoint = '{% url "movetoresource:searchbar" %}'
const delay_by_in_ms = 700
let scheduled_function = false

let ajax_call = function (endpoint, request_parameters) {
  $.getJSON(endpoint, request_parameters)
    .done(response => {
      // fade out the artists_div, then:
      artists_div.fadeTo('slow', 0).promise().then(() => {
        // replace the HTML contents
        artists_div.html(response['html_from_view'])
        // fade-in the div with new contents
        artists_div.fadeTo('slow', 1)
        // stop animating search icon
        search_icon.removeClass('blink')
      })
    })
}


user_input.on('keyup', function () {

  const request_parameters = {
    q: $(this).val() // value of user_input: the HTML element with ID user-input
  }

  // start animating the search icon with the CSS class
  search_icon.addClass('blink')

  // if scheduled_function is NOT false, cancel the execution of the function
  if (scheduled_function) {
    clearTimeout(scheduled_function)
  }

  // setTimeout returns the ID of the function to be executed
  scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
})
</script>
   {% endblock %}

