{%extends 'index.html'%}
  {% block body %}
    {%load static%}
  <style type="text/css">
      #navcontainer
     {
    background: url({%static 'img/pangolin.jpg'%}) no-repeat center center/cover;
   }
   .my_img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


  </style>


<div style="background-position: center top;" id="navcontainer"> 

            

            	<div class="backgr-text"> 
              
                    <h2 class="head-part">COMPLETED</h2> 
                </div> 
         

    </div>
     <div id="main-container">
<div  style="margin-top: 45px;" class="col-sm-12 col-md-12">
  <h1 class="headmy">Completed Project</h1>
  <hr/>
  {%if completed%}
  <ul class="cards5">
    {%for k in completed%}
    <li class="cards_item5">
      <div class="card5">
        <div class="card_image5">
          <img class="my_img" src="/media/{{k.Picture}}"></div>
        <div class="card_content5">
          <h2 class="card_title5">{{k.Heading |slice:":150"}}...</h2>
          <p class="card_text5">{{k.Description |slice:":150"  |safe }}...</p>
          <a href="{% url 'movetoproject:detailcompleted' k.Id %}"class="btn5 card_btn5">Discover More</a>
        </div>
      </div>
    </li>

 {%endfor%}
  </ul>
 {%endif%}
</div>
{%include "footer.html" %}
</div>
   {% endblock %}
